* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: #23252c;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 317px;
  background-color: #1a1b21;  
}


.hero {
  width: 317px;
  height: 317px;
  background-color: red;
  border-radius: 10px 10px 0 0;
}

.info__container h1 {
  margin-top: 21px;
  margin-bottom: 6.2px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.info__container h3 {
  line-height: 15.49px;
  margin-bottom: 8.8px;
  font-size: 12.8px;
  font-weight: 400;
  text-align: center;
  color: #f3bf99;
}

.info__container h4 {
  line-height: 15.36px;
  margin-bottom: 15px;
  font-size: 10.24px;
  font-weight: 400;
  text-align: center;
}

.button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 33px 35px 35px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  font-weight: 500;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.email__btn {
  background-color: #fff;
  color: #374151;
  border: 1px solid #d1d5db;
}

.linkedin__btn {
  background-color: #5093e2;
  color: #fff;
  border: 1px solid #5093e2;
}

.about__container {
  margin: 36px 34px 3px 36px;
}

.about__container h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about__container p {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15px;
  color: #dcdcdc;
}

.interests__container {
  margin: 27px 34px 3px 36px;
}

.interests__container h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.interests__container p {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15px;
  color: #dcdcdc;
  margin-bottom: 24px;
}